.nav {
    background-color: rgb(66, 66, 66);
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    position: relative;
    z-index: 100;
    border-bottom: 2px solid rgb(85, 61, 18);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999; 
    

}

.fixed{
    position: fixed !important;
    top: 0;
    width: 100%;
    top: 0;
    width: 100%;
}
.ul {
    margin-left: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    text-emphasis: none;
}

.li {
    margin: 10px;
    font-size: 18px;
    list-style-type: none;
    transition: transform 0.3s ease;
}

.li {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
    color: rgb(212, 211, 211);
}


.li:hover {
    transform: scale(1.1);
    color: rgb(158, 108, 0)
}

.nav2 {
    display: none;
}

.hambu {
    display: none;
}

@media screen and (max-width: 410px) {

    .nav {
        display: none;
    }

    .nav2 {
        background-color: rgb(95, 96, 97);
        height: 55px;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 100;
    }

    .hambu {
        display: flex;
        font-size: 30px;
    }
}

@media screen and (min-width: 400px) {}