.container {
  margin-top: 55px;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.theme {
  font-size: 24px;
  margin-bottom: 20px;
}

.div {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .div {
    grid-template-columns: 1fr;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pageButton {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #868686;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px;
}

.pageButton:hover {
  background-color: #ccc;
}

.previousButton {
  margin-right: 10px;
}

.nextButton {
  margin-left: 10px;
}
