

@media screen and (max-width: 510px) {

  .Container {
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    border-top: 2px solid gray;
    transition: all 0.3s ease;
  max-width: 800px;
  justify-content: center;
  align-items: center;
  }
  .Container:hover {
    background-color: rgb(250, 17, 17);
    border-bottom: 2px solid gray;
  }
}
.Container {
    display: flex;
    margin-top: 10px;
    border-top: 2px solid gray;
  max-width: 800px;
  }
  .Container:hover {
    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid gray;
  }
  .img {
    width: 250px;
    height: 150px;
    object-fit: contain;
    margin: 10px;

   
  }
  .container3 {
    margin-top: 10px;
    margin-left: 10px;
  }
  .theme{
   
    
  }
  .content{
    margin: 10px;
 
  }
  .dataENome{
   
  
  }
  .postPreviewDate {
    
  }
  .postPreviewCategory {
    
  }